@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

p {
    line-height: 24px;
}

.header {
    margin: auto;
    display: flex;
    max-width: 1024px;
    padding: 32px;
    justify-content: 'space-between';
    align-items: center;
}

.nav_title {
    font-size: '16px';
    font-weight: 700;
}

.content {
    margin: 128px auto;
    max-width: 640px;
}

.article_title {
    font-size: 32px;
}

.article_metadata {
    font-size: 16px;
    margin-top: 14px;
    margin-bottom: 64px;
    color: gray;
}

.callout {
    padding: 16px;
    border-left: 2px solid gray;
    background-color: ghostwhite;
    color: gray;
}

.footer {
    margin: auto;
    display: flex;
    max-width: 1024px;
    padding: 32px;
    justify-content: 'space-between';
    align-items: center;
}

.copyright {
    display: flex;
    flex-direction: row;
}

.secondary {
    color: gray;
}